$black: #000;
$white: #fff;

$brand-green: #0EC69A;
$brand-blue: #023358;
$brand-blue-light: #055492;
$brand-red: #E24343;
$brand-yellow: #F2C94C;
$bg-gradient: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
$bg-gradient-dark: linear-gradient(22deg,#062972 0%,#07438d 100%);;

$bg-light: #f5f8fb;
$bg-dark: $brand-blue;

$light: 300;
$regular: 400;
$normal: 400;
$medium: 500;
$semi-bold:600;
$demi-bold: 600;
$bold: 700;


$telegram-color: #279bd3;
$viber-color: #784f97;
$whatsup-color: #30d14e;