.item {

  &-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    background: $white;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-height: 230px;


    margin-bottom: 20px;

    width: unquote("calc(50% - 10px)");
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //text-align: center;
    }
    &__content {
      padding: 0 25px 30px;
    }
    &__img {
      margin-bottom: 25px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__desc {

    }
  }






  &-guide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    background: $white;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-height: 230px;


    margin-bottom: 20px;

    width: unquote("calc(50% - 10px)");
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //text-align: center;
    }
    &__content {
      padding: 0 25px 30px;
    }
    &__img {
      margin-bottom: 25px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__desc {

    }
  }



  &-blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    background: $white;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-height: 230px;


    margin-bottom: 20px;

    width: unquote("calc(50% - 10px)");
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
    &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      //text-align: center;
    }
    &__content {
      padding: 0 25px 30px;
    }
    &__img {
      margin-bottom: 25px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__desc {

    }
  }



}