
h1,
h2,
h3,
h4 {
  color: $brand-blue;
  margin-bottom: 20px;
}
p {
  color: $brand-blue-light;
  margin-bottom: 10px;
}

body {
  font-family: 'Cabin', sans-serif;
}

.wrap {
  padding-top: 60px;
}
.title, h1 {
  font-size: 35px;
  line-height: 50px;
  font-weight: $bold;
  &--sub, h2 {
    font-size: 28px;
    line-height: 38px;
    font-weight: $bold;
  }
  &--small, h3, h4 {
    font-size: 19px;
    line-height: 31px;
    font-weight: $bold;
  }
}
.text {
  font-size: 16px;
  line-height: 27px;
  font-weight: $regular;
  &--sub {
    font-size: 19px;
    line-height: 31px;
    font-weight: $medium;
  }
  &--normal, p {
    font-size: 16px;
    line-height: 27px;
  }
  &--small {
    font-size: 14px;
    line-height: 19px;
  }
  &--green {
    color: $brand-green;
  }
  &--blue {
    color: $brand-blue;
  }
  &--blue-light {
    color: $brand-blue-light;
  }
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }
  &--regular {
    font-weight: $regular;
  }
  &--medium {
    font-weight: $medium;
  }
  &--bold {
    font-weight: $bold;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  &--between {
    justify-content: space-between;
  }
}

.m0 {
  margin: 0;
}

.main-btn {
  display: flex;

  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: $semi-bold;

  font-size: 16px;
  line-height: 40px;
  border-radius: 6px;
  padding: 0 20px;

  transition: .3s all;
  background: $bg-gradient;
  color: $white;
  &--sm {
    line-height: 30px;
    padding: 0 15px;
  }
  &--lg {
    font-size: 18px;
    line-height: 60px;
  }
  &--transparent {
    background-color: $white;
    box-shadow: 0px 10px 30px rgba(41, 41, 41, 0.2);
  }
  &--center {
    margin-left: auto;
    margin-right: auto;
  }
  &--blue {
    background-color: $brand-blue;
  }
  &:hover {
    text-decoration: none;
    color: $white;
    opacity: .8;
  }
}

hr {
  border-bottom: 0;
  border-color: fade-out($brand-blue,0.9);
  max-width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  &.line {

  }
}
.w100 {
  width: 100%!important;
  max-width: 100%!important;
}
.no-border {
  &--top {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }
  &--r0 {
    border-radius: 0!important;
  }
  &--bottom {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
  }
}

@include adaptive(lg) {

}

@include adaptive(md) {

}

@include adaptive(sm) {

}